<nav class="navbar navbar-inverse">
  <div class="contact-fluid">
    <!--Brand and toggle get grouped
    for better mobile display-->
    <div class="navbar-header">
  
      <button type="button"
      class="navbar-toggle collapsed"
      data-toggle="collapse"
      data-target="#bs-example-navbar-collapse-1"
      arial-expanded="false">
    
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
    
    <a class="navbar-brand" href="#">Brand</a>

    </div>

    <!--collect the nav links,froms, and other content for toggling-->
    <div class="collapse navbar-collapse"
    id="bs-example-navbar-collapse-1">
 
    <ul class="nav navbar-nav">
   
    <li class="active"><a routerLink="/">
    Home <span class="sr-only">(current)</span>
    </a></li>
   
    <li><a routerLink="/about">About Us</a></li>
 
    <li><a routerLink="/contact">Contact Us</a></li>

    <li><a routerLink="/emplist">Employee list</a></li>

    <li><a routerLink="/eventdemo">Event List</a></li>

    <li><a routerLink="/templateform">Template form</a></li>

    <li><a routerLink="/reactiveform">Reactive form</a></li>

    <li><a routerLink="/login">Login</a></li>

    <li><a routerLink="/servicedemo">service</a></li>

    <li><a routerLink="/parenttochild">parent to child</a></li>
  </ul>
   </div>
  </div>
</nav>